.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.nav {
    background-position-x: center;
}

.enlace {
    float: left;

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.enlace:hover {
    background-color: #111;
}

.box {
    float: right;

    display: block;
    color: white;
    text-align: center;
    padding: 30px 19px;
    text-decoration: none;

  
}